@import url("https://fonts.googleapis.com/css2?family=Inter&family=Crete+Round&family=Poppins&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.nav {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 0 5%;
  width: 100%;
  position: fixed;
  z-index: 50;
}

.logo {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
}

.mobileMenu {
  animation: heart-beat 2500ms infinite;
  color: #fff;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  height: 95vh;
  background: #3c3a39;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 57px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  z-index: 999;
  animation: slide-in 1s both;
}

.showMenu {
  display: none;
}

.close {
  color: #6f6c6b;
  align-self: end;
  margin: 3.875rem 2.375rem -0.875rem;
  background-color: unset;
  width: 1rem;
  height: 1rem;
  z-index: 989;
}

.close:hover {
  background-color: unset;
  color: #6f6c6b;
  border: none;
  transform: rotate(180deg);
  scale: 1.5;
}

.mobileLinkText {
  text-decoration: none;
  color: #fff5e1;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}

.mobileLinkText:hover {
  color: #ff6b00;
  font-size: 40px;
  transition: 300ms ease-in-out;
}

.mobileLink {
  list-style: none;
  padding: 1rem 1.5rem;
  border-bottom: 2px solid #6f6c6b;
  margin: 1rem;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.desktopLink a {
  text-decoration: none;
  color: #fff;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 36.875rem;
  width: 100vw;
  background-color: #1c1a19;
  color: #ff6b00;
  position: relative;
}

.headline h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.023rem;
  color: #ff6b00;
  margin-top: 7.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
}

.headelineSub {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  color: #fff5e1;
}

.headlineDesc {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
  color: #fff;
}

.socials {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 9.438rem;
  width: min-content;
  list-style: none;
}

.socialLink {
  width: 2.5rem;
  height: 2.5rem;
}

.bgImage {
  position: absolute;
  background-image: url("./images/Illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 45.5%;
  right: 0%;
  z-index: 1;
  width: 10rem;
  bottom: 0%;
}

.work {
  padding: 6rem 1.5rem 1.5rem 1.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.recentWorks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 6.688rem;
  width: 100%;
  margin-bottom: 3rem;
}

.recentWorks > h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.projectImg {
  width: 100%;
}

.projectTitle {
  font-family: "Crete Round", serif;
  white-space: nowrap;
  font-style: normal;
  color: #091e42;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}

.projectDesc {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #091e42;
}

.tools {
  list-style: none;
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.toolsBtn {
  color: #091e42;
  padding: 0.625rem 0.75rem;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #8993a4;
}

.toolsBtn:active {
  background-color: #e05304;
  color: #030303;
}

button {
  border: none;
  background-color: #6b2500;
  color: #fff;
}

button:active {
  background-color: #e05304;
  color: #000;
}

button:hover {
  background-color: #000;
  border: 1px solid #f55800;
  color: #f55800;
}

.mainSeeBtn {
  padding: 0.75rem;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  max-width: fit-content;
  height: 3rem;
}

.showModal {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100%;
  z-index: 99999;
  padding: 2rem 1rem;
}
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  height: 95vh;
  z-index: 99999;
  overflow: scroll;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.modal-heading {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal-close {
  color: #6f6c6b;
  background-color: unset;
  cursor: pointer;
}

.modalCardBtns {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.modalCardBtn {
  background-color: #fff;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  border: solid #3c3a39 1px;
  padding: 1rem;
}

.modal-img-desc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.modal-desc {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.modal-links {
  display: flex;
  gap: 3rem;
}

.modal-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  padding: 1rem;
}

.modal-desc-btns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cardContainer {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.card {
  background-image: url("./images/card-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 1rem;
}

.card h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
  margin-top: 6.25rem;
}

.cardSeeProj {
  width: 100%;
  height: 3rem;
  background-color: #ff6b00;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000;
}

.card p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.cardBtns {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.cardBtn {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.75rem;
  border: 1px solid #0e46a7;
  color: #fff;
  background: rgba(0, 0, 0, 0.24);
}

.cardBtn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.cardContainer:hover {
  scale: 1.1;
  transition: 500ms ease-in;
}

.about {
  position: relative;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem 5.5rem 1.5rem;
}

.aboutTop {
  display: flex;
  flex-direction: column;
}

.aboutImg {
  position: absolute;
  background-image: url("./images/illustration-about\ me.svg");
  background-repeat: no-repeat;
  top: 255px;
  right: 0%;
  z-index: 1;
  width: 10rem;
  bottom: 0%;
}

.aboutMe {
  margin-top: 7.5rem;
  margin-bottom: 2rem;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.023rem;
  color: #ff6b00;
}

.aboutDesc {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f4f5f7;
  margin-bottom: 2rem;
  width: 80%;
}

.action {
  margin-bottom: 12rem;
}

.resume {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063;
  line-height: 1.5rem;
  background: #ff6b00;
  height: 3rem;
  width: 10.063rem;
  padding: 0.75rem;
  color: #030303;
}

.aboutTools {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 2rem;
}

.aboutTitle {
  font-family: "InaiMathi", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.aboutItems {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.688rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.aboutHeader {
  background-repeat: no-repeat;
  background-position-y: 2.5rem;
  padding: 2rem;
}

.circle {
  background-image: url(./images/Rectangle\ 57.svg);
}

.square {
  background-image: url(./images/Rectangle\ 56.svg);
}

.dimond {
  background-image: url(./images/Rectangle\ 55.svg);
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 1.5rem;
  overflow-x: hidden;
}

.contactHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 5.375rem;
}

.contactTitle {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  width: 19.813rem;
  text-align: center;
  color: #172b4d;
}

input {
  border: none;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  transition: 200ms ease-in;
}

input:focus {
  translate: 1px -10px;
}

.fieldSeparator {
  background: #dbd8d7;
  margin-bottom: 2.438rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

textarea {
  height: 5.625rem;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
  background: #fbf8f7;
}

.contactBtn {
  align-self: center;
  width: 8.188rem;
  height: 3rem;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 1.5rem;
}

textarea:focus,
input:focus {
  outline: none;
}

footer > .socials {
  color: #505f79;
  margin: 1rem auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  border-top: solid 2px #dfe1e6;
}

.desktopMenu {
  display: none;
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }

  .nav {
    height: 72px;
  }

  .logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: "Inter", serif;
    font-style: normal;
  }

  .menu-mobile {
    display: none;
  }

  .desktopMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding-right: 3rem;
  }

  .desktopLink {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .mail {
    width: 1.5rem;
    height: 1.5rem;
  }

  .bgImage {
    position: absolute;
    background-image: url("./images/Desk-Illustration-header.svg");
    top: 0;
    right: 0%;
    z-index: 1;
    width: 40%;
    bottom: 0%;
    background-size: 100% 107%;
    flex: 2;
  }

  .headline {
    flex-direction: row;
    height: 50rem;
  }

  .headerText {
    margin-left: 2rem;
    height: 10px;
    flex: 2;
  }

  .headerText > h1 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
    margin-top: 11rem;
  }

  .headelineSub {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .headline > .socials {
    flex-direction: column;
    justify-content: center;
    margin-right: 2%;
    order: -1;
  }

  .socialLink {
    width: 3.5rem;
    height: 3.5rem;
  }

  .headlineDesc {
    width: 41%;
    height: 123px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-bottom: 251px;
  }

  .recentWorks {
    flex-direction: row;
  }

  .recentWorks > h2 {
    white-space: nowrap;
    width: 315px;
    height: 52px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .recentWorks > img {
    margin-left: 1.5rem;
    width: 100%;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .projectTitle {
    width: 448px;
    height: 48px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .projectDesc {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    width: 80%;
  }

  .projectImg {
    width: 100%;
    height: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    margin-bottom: 8.125rem;
  }

  .card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 3rem;
    height: 435px;
  }

  .cardBtns {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
  }

  .cardBtn {
    margin-bottom: 1rem;
  }

  .modal {
    padding: 5% 6%;
  }

  .modal-content {
    height: 100%;
  }

  .modalCardBtns {
    margin-top: 0;
  }

  .modal-img-desc {
    height: 100%;
  }

  .modal-desc-btns {
    height: 100%;
  }

  .modal-desc-btns {
    justify-content: space-between;
    width: 50%;
  }

  .modal-desc {
    line-height: 30px;
  }

  .modal-img-desc {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .modal-links {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .modal-close {
    margin-right: 2rem;
  }

  .cardContainer {
    height: auto;
    position: relative;
    margin-bottom: 0;
  }

  .cardSeeProj {
    display: none;
  }

  .cardContainer:hover .cardSeeProj {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .cardContainer:hover .cardBtns {
    visibility: hidden;
  }

  .sideTools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding-bottom: 3rem;
  }

  .about,
  .work {
    padding: 1rem 8.1%;
  }

  .aboutTools {
    align-items: start;
    justify-items: center;
  }

  .aboutMe {
    height: 78px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .aboutDesc {
    width: 50%;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .resume {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .aboutTop {
    flex-direction: row;
    justify-content: space-between;
  }

  .aboutImg {
    position: absolute;
    top: 0;
    right: 0%;
    z-index: 1;
    width: 40%;
    bottom: 0%;
    background-size: 100% 50%;
    flex: 2;
    background-image: url("./images/illustration-about\ me.svg");
  }

  .action {
    margin-bottom: 2rem;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 7.5rem 8.1%;
  }

  .contactTitle {
    text-align: start;
    width: 70%;
    height: 256px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
  }

  .contactBtn {
    align-self: flex-start;
  }

  textarea {
    height: 114px;
  }

  .contactForm {
    gap: 0;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.mobileMenu:hover {
  animation-play-state: paused;
}

@keyframes heart-beat {
  0% {
    scale: 1;
    opacity: 100%;
  }

  20% {
    scale: 1.1;
  }

  40% {
    opacity: 50%;
  }

  60% {
    opacity: 60%;
  }

  80% {
    scale: 1.3;
    opacity: 80%;
  }

  100% {
    scale: 1;
    opacity: 100%;
  }
}

label {
  visibility: hidden;
}
