@import url("https://fonts.googleapis.com/css2?family=Inter&family=Crete+Round&family=Poppins&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 0 5%;
  width: 100%;
  z-index: 50;
}

.logo {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
}

.mobileMenu {
  color: #fff;
}

.headline {
  display: flex;
  flex-direction: column;
  height: 36.875rem;
  width: 100vw;
  background-color: #1c1a19;
  color: #ff6b00;
  position: relative;
}

.headline h1 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.023rem;
  color: #ff6b00;
  margin-top: 7.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
}

.headelineSub {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  color: #fff5e1;
}

.headlineDesc {
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0.75rem;
  color: #fff;
}

.socials {
  display: flex;
  margin-left: 1.5rem;
  margin-right: 9.438rem;
  width: min-content;
  list-style: none;
}

.socialLink {
  width: 2.5rem;
  height: 2.5rem;
}

.bgImage {
  position: absolute;
  background-image: url("./images/Illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 45.5%;
  right: 0%;
  z-index: 1;
  width: 10rem;
  bottom: 0%;
}

.work {
  padding: 6rem 1.5rem 1.5rem 1.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.recentWorks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 6.688rem;
  width: 100%;
  margin-bottom: 3rem;
}

.recentWorks > h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.projectImg {
  width: 100%;
}

.projectTitle {
  font-family: "Crete Round", serif;
  white-space: nowrap;
  font-style: normal;
  color: #091e42;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
}

.projectDesc {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #091e42;
}

.tools {
  list-style: none;
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.toolsBtn {
  color: #091e42;
  padding: 0.625rem 0.75rem;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #8993a4;
}

.toolsBtn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

button {
  border: none;
  background-color: #e05304;
  color: #fff;
}

button:active {
  background-color: #e05304;
}

button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.mainSeeBtn {
  padding: 0.75rem;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  max-width: fit-content;
  height: 3rem;
}

.cardContainer {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.card {
  background-image: url("./images/card-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 24.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 1rem;
}

.card h2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  color: #fff;
  margin-top: 6.25rem;
}

.cardSeeProj {
  width: 100%;
  height: 3rem;
  background-color: #ff6b00;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.card p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
}

.cardBtns {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.cardBtn {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.938rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.75rem;
  background: #fff;
  border: 1px solid #8993a4;
  color: #091e42;
}

.cardBtn:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.about {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 1.5rem 5.5rem 1.5rem;
  background-repeat: no-repeat;
  background-image: url("./images/About-img.png");
  background-size: 46% 13%;
  background-position-x: 100%;
  background-position-y: 21%;
}

.about > h2 {
  margin-top: 7.5rem;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 5.5rem;
  letter-spacing: 0.023rem;
  color: #ff6b00;
}

.about > p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f4f5f7;
}

.action {
  margin-bottom: 12rem;
}

.resume {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063;
  line-height: 1.5rem;
  background: #ff6b00;
  height: 3rem;
  width: 10.063rem;
  padding: 0.75rem;
  color: #fff;
}

.aboutTools {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 2rem;
}

.aboutTitle {
  font-family: "InaiMathi", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.aboutItems {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 2.688rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.aboutHeader {
  background-repeat: no-repeat;
  background-position-y: 2.5rem;
  padding: 2rem;
}

.circle {
  background-image: url(./images/Rectangle\ 57.svg);
}

.square {
  background-image: url(./images/Rectangle\ 56.svg);
}

.dimond {
  background-image: url(./images/Rectangle\ 55.svg);
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 7.5rem 1.5rem;
  overflow-x: hidden;
}

.contactHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 5.375rem;
}

.contactTitle {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.75rem;
  width: 19.813rem;
  text-align: center;
  color: #172b4d;
}

input {
  border: none;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
}

.fieldSeparator {
  background: #dbd8d7;
  margin-bottom: 2.438rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

textarea {
  height: 5.625rem;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1.5rem;
  border: none;
  background: #fbf8f7;
}

.contactBtn {
  align-self: center;
  width: 8.188rem;
  height: 3rem;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.063rem;
  line-height: 1.5rem;
}

textarea:focus,
input:focus {
  outline: none;
}

footer > .socials {
  color: #505f79;
  margin: 1rem auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  border-top: solid 2px #dfe1e6;
}

.desktopMenu {
  display: none;
}

@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }

  .nav {
    height: 72px;
  }

  .logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: "Inter", serif;
    font-style: normal;
  }

  .desktopMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding-right: 3rem;
  }

  .desktopLink {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .mail {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.25rem;
  }

  .bgImage {
    position: absolute;
    background-image: url("./images/Desk-Illustration-header.svg");
    top: 0;
    right: 0%;
    z-index: 1;
    width: 40rem;
    bottom: 0%;
  }

  .headline {
    flex-direction: row;
    height: 50rem;
  }

  .headerText {
    margin-left: 2rem;
    height: 10px;
  }

  .headerText > h1 {
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .headelineSub {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .headline > .socials {
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    order: -1;
  }

  .socialLink {
    width: 3.5rem;
    height: 3.5rem;
  }

  .headlineDesc {
    width: 566px;
    height: 123px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
    margin-bottom: 251px;
  }

  .recentWorks {
    flex-direction: row;
  }

  .recentWorks > h2 {
    white-space: nowrap;
    width: 315px;
    height: 52px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .recentWorks > img {
    margin-left: 1.5rem;
    width: 100%;
  }

  .projects {
    flex-direction: row;
    justify-content: normal;
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .projectTitle {
    width: 448px;
    height: 48px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .projectDesc {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    width: 72%;
  }

  .projectImg {
    width: 684px;
    height: 448px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }

  .cardBtns {
    display: flex;
    gap: 2%;
  }

  .cardContainer {
    height: auto;
    position: relative;
    margin-bottom: 0;
  }

  .cardSeeProj {
    display: none;
  }

  .cardContainer:hover .cardSeeProj {
    display: block;
    position: absolute;
    bottom: 0;
  }

  .cardContainer:hover .cardBtns {
    display: none;
  }

  .sideTools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding-bottom: 3rem;
  }

  .about,
  .work {
    padding: 1rem 5%;
  }

  .aboutTools {
    align-items: start;
    justify-items: center;
  }

  .about > h2 {
    width: 566px;
    height: 78px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    color: #f55800;
  }

  .about > p {
    width: 50%;
    width: 566px;
    height: 148px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .resume {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .about {
    background-image: url("./images/illustration-about\ me.svg");
    background-position: top 100px right;
    background-size: 23rem 23rem;
    padding: 0 142px;
  }

  .action {
    margin-bottom: 2rem;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 7.5rem 7.5rem;
  }

  .contactTitle {
    text-align: start;
    width: 455px;
    height: 256px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
  }

  .contactBtn {
    align-self: flex-start;
  }

  textarea {
    height: 114px;
  }

  .contactForm {
    gap: 0;
  }
}
